<form action="/payment/results">
<label for="apr_input">APR</label>
<input type="text" id="apr_input" placeholder="E.g. 5.42" name="apr">
<br>
<label for="years_input">Number of years</label>
<input type="text" id="years_input" placeholder="How many years to repay?" name="years">
<br>
<label for="principal_input">Principal</label>
<input type="text" id="principal_input" placeholder="How much principal?" name="principal">
<br>
<button>Calculate monthly payment</button>
</form>
