<form action="/random/results">
<label for="min_input">Minimum</label>
<input type="text" id="min_input" placeholder="E.g. 1.5" name="min">
<br>
<label for="max_input">Maximum</label>
<input type="text" id="max_input" placeholder="E.g. 4.5" name="max">
<br>
<button>Pick random number</button>
</form>
