<form action="/square_root/results">
<label for="num_input">Enter a number</label>
<input type="text" id="num_input" placeholder="What number do you want to take the square root off?" name="num">
<br>
<button>Calculate square root</button>
</form>
