<form action="/square/results">
<label for="num">Enter a number</label>
<br>
<input type="text" id="num" placeholder="What number do you want to square off?" name="user_num">
<br>
<button>Calculate Square</button>
</form>
